.tableBox1 {
  .el-table .warning-row {
    background: #f7363b;
    color: #fff;
  }

  .el-table .success-row {
    background: #f28105;
    color: #fff;
  }

  .el-table .success-active {
    background: #cbe3ff;
    color: #fff;
  }

  .sort-list {
    margin: 0 0 12px 0;
    height: 24px;
    font-size: 14px;
    font-family: 'Alibaba PuHuiTi', 'Microsoft YaHei';
    font-weight: 400;
    color: #3c3c3c;

    .sort-tag {
      margin-right: 10px;
    }

    .el-tag--small {
      height: 32px;
      background: #e6e6e6;
      border-radius: 16px;
      line-height: 30px;
      font-size: 14px;
      text-align: center;
      color: #666666;
    }

    .el-tag .el-icon-close {
      font-size: 14px;
      height: 18px;
      width: 18px;
      line-height: 18px;
      right: 0;
    }
  }

  .el-table__row--level-1 {
    .el-checkbox {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .el-checkbox__input.is-indeterminate .el-checkbox__inner,
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #3399ff;
    border-color: #3399ff;
  }

  .el-checkbox__input .el-checkbox__inner:hover {
    border-color: #3399ff;
  }

  .el-table__header-wrapper {
    height: 42px;
  }

  .el-table .caret-wrapper {
    float: right;
    margin-top: 4px;
  }

  .el-table {
    color: #666666;
    box-shadow: 0px 1px 7px 0px rgba(221, 221, 221, 0.43);
  }

  .el-table__footer-wrapper {
    background: #d7f8d0;

    th.gutter,
    tbody td {
      background: #d7f8d0;

      .cell {
        color: #529723;
      }
    }
  }

  .table-head {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // width: 80%;
  }

}